.buttonContent {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-md);
  background-color: var(--color-background-container);
  color: var(--color-text-default);
  border: 1px solid var(--color-border-default);
  border-color: color-mix(
    in srgb,
    var(--color-border-default),
    var(--color-text-default) 10%
  );
  box-shadow: 0 var(--spacing-xs) var(--spacing-sm) var(--color-shadow-light);
  transition: background-color var(--transition-duration-normal)
      var(--transition-ease),
    box-shadow var(--transition-duration-normal) var(--transition-ease),
    border-color var(--transition-duration-normal) var(--transition-ease);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  margin-block: var(--spacing-md);
  cursor: pointer;
}

.buttonContent:hover {
  background-color: color-mix(
    in srgb,
    var(--color-background-container),
    var(--color-text-default) 5%
  );
}
